
* {
    margin: 0;
    background-color: #181818;  
}
   
.main-layout {
    overflow: hidden;  
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    color: white;
    grid-template-rows: 20% 15% 50% 15%;
    font-family:'Raleway', sans-serif; 
}

.header {
    display: grid;
}

.avatar {
   text-align: center;
   align-self: center;
   padding: 3%;
}

.avatar img {
    width: 35%;
    height: 35%;    
} 


.menu {
    border-top: 8px white double;
    border-bottom: 8px white double;
    background-color: #181818;
    text-align: center;
    align-self: center;
    padding: 3%;
    font-family: 'Raleway', sans-serif;
    font-size: x-large;
}


.content {
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: clamp(1rem, 1vw, 2rem);
    border-radius: 30%;
    border: 1px white;
    padding: 3%;
    border-radius: 30%;
    max-height: 300px;
}

.footer {
    text-align: right;
    align-self: flex-start;
    margin-right: 20%;
}